.header_container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}
.searchBox{
    width: 50%;
}
.input{
    padding: 10px;
    width: 100%;
    font-size: large;
    border-radius: 16px;
    outline: none;
    border: none;
    background-color: #DFDFDE;
}